@use "variables" as *;
@use "global" as *;

.client-words {
    .custom-swiper-outer {

        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }

        .custom-swiper-button-disabled,
        button:disabled {
            cursor: not-allowed;
            opacity: 0.35;
            pointer-events: none;
        }

        &.swiper-locked-nav {
            .custom-swiper-navigation {
                display: none;
            }
        }
    }

}
